//colors
$main: #000066;
$lightmain: #0000ff;
$depressingGray: #1a1a1a;
$chillax: #ffcc66;
$lightgray: lightgray;

//sizes
$tablet: 764px;
$desktop: 1024px;

//z index

$zIndexHeader: 2;
$zIndexOverlay: 3;
$zIndexProfileViewerMobile: 4;

$zIndexProfileViewerDesktop: 1;

//effects

$boxShadowLarge: 6px 6px 12px 6px rgba(0,0,0,0.2), 6px 6px 18px 6px rgba(0,0,0,0.19);
$boxShadowSmall: 3px 3px 6px 3px rgba(0,0,0,0.2), 3px 3px 12px 3px rgba(0,0,0,0.19);

