@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.searchForm{
    @include flex-complete($direction: row, $justify: center, $align: center);
    padding: 0.8rem;
    margin: 0.5rem;
    background-color:white;
    box-shadow: $boxShadowSmall;
    margin-bottom: 1rem;
    width: 20rem;
    border-radius:4px;

    @media only screen and (min-width:$tablet){
        width:30rem;
    }
    @media only screen and (min-width:$desktop){
        width:40rem;
        margin-top:1.5rem;
    } 

    input{
        padding: 0.4rem;
        border-radius: 4px;
        margin-right: 0.5rem;
    }

    button{
        padding: 0.4rem;
        background-color: $main;
        color:white;
        font-weight: bold;
        border-radius: 4px;
    }

}