@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header{
    @include flex-complete($direction: row, $justify: flex-start, $align: stretch);

    position: sticky;
    top:0;
    background-color: $lightmain;
    color:white;
    z-index:$zIndexHeader;

    @media only screen and (min-width:$desktop){
        height: 3rem;
    }

    img{
        width:2.75rem;
        margin: 0.3rem;
        border-radius: 50%;
        border: solid 1px;

        @media only screen and (min-width:$desktop){
            display: none;
        }
    }
    
    .headerLink{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        color: white;
        font-weight: bold;

        display: flex;
        align-items: center;

        transition: background-color 0.5s, padding 0.5s;

        @media only screen and (min-width:$tablet){
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @media only screen and (min-width:$desktop){
            padding-left: 4rem;
            padding-right: 4rem;
        }

    }

    .brand{
        display:none;
        @media only screen and (min-width:$desktop){
            width:28rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin:0;

        }
    }

    .selected{ //Property of NavLink from react router.
        background-color: $main;
    }
}